<!-- h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
 -->

<h1>Restaurants</h1>
<ul><% @restaurants.each do |rest| %>
  <li class="rest-name"><%= link_to rest.name, restaurant_path(rest), class: "btn btn-primary"%></li>
<% end %></ul>

